body{
	background-color: lightyellow;
}
h1{
	font-size: 30px;
	color: hotpink;
	font-family: sans-serif;
}
h2{
	font-size:10px;
}
h2{
	font-size: 60px;
	color: orchid;
	font-family:serif;
}

.skrrt{
	font-size: 100px;
}
.uppercase{
	text-transform: uppercase;
}
.skrrt.uppercase{
	color: hotpink;
}
span{
	color:navy;
}
h1 span{
	color:steelblue;
}